.locationCard{
    background-color: rgb(18, 50, 50);
    margin: 10px auto;
    padding: 20px 20px;
    border-radius: 2.5px;
    max-width: 1200px;
    color:antiquewhite
}

.locationCard__name{
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: 50px;
    text-align: center;
    color:antiquewhite

}

.locationCard__list{
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction:row;
}

@media screen and (max-width: 480px) {
    .locationCard__list{
      flex-direction:column;
      align-items: flex-start;
    } 
}

.locationCard__items{
    line-height:20px;
}

.locationCard__items span{
    font-weight: bold;
    color:antiquewhite;
    display:block;
}